# Dependencies
node_modules

# Build
.output
.dist
.nuxt

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal
